<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Venezuela Tours</h1>
  </header>
  <a href="toursites">Ver los sitios turísticos</a>
</div>
<% include partials/footer %>
