<% include ./partials/header %>
<h1>Iniciar Sesión</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Usuario">
  <input type="password" name="password" placeholder="Contraseña">
  <button class="btn btn-primary">Iniciar Sesión</button>
</form>
<% include ./partials/footer %>
