<% include ./partials/header %>
<h1>Regístrate</h1>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="Usuario">
  <input type="password" name="password" placeholder="Contraseña">
  <button class="btn btn-primary">Registar</button>
</form>
<% include ./partials/footer %>
